@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// Typography
$header: 'Fraunces';
$body: 'Barlow';

// Colors

// Link Accent
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);


// Headers
$designText: hsl(167, 40%, 24%);
$photoText: hsl(198, 62%, 26%);
$footerText: hsl(168, 34%, 41%);


// Text
$nameText: hsl(212, 27%, 19%);
$testimonialText: hsl(213, 9%, 39%);
$accentText: hsl(210, 4%, 67%);
$graphicBody: hsl(232, 10%, 55%);
