@import './globals';

section {
  position: relative;

  .image {
    position: absolute;
    z-index: 0;
  }

  .text {
    position: absolute;
    z-index: 1;
    text-align: center;

    .blue {
      color: $photoText;
    }

    .green {
      color: $graphicText;
    }

    h1 {
      font-family: $heading;
      font-weight: 900;
      font-size: 1.75rem;
      letter-spacing: -0.2px;
      line-height: 2.1575rem;
    }

    p {
      font-family: $body;
      font-size: 1rem;
      line-height: 1.6875rem;
      letter-spacing: -0.11px;
    }
  }
}