@import './globals';

section {
  min-height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  .text {
    text-align: center;

    // TOP RIGHT BOTTOM LEFT
    padding: 0rem 1rem 3.6875rem 1rem;

    h1 {
      font-family: $header;
      font-weight: 900;
      font-size: 1.75rem;
      letter-spacing: -0.2px;
      line-height: 2.1575rem;
    }

    p {
      font-family: $body;
      font-size: 1rem;
      line-height: 1.6875rem;
      letter-spacing: -0.11px;
    }
  }
}

.blue {
  color: $photoText;
  @include graphic-background('../img/mobile/image-photography.jpg');
}

.green {
  color: $designText;
  @include graphic-background('../img/mobile/image-graphic-design.jpg');
}